{% extends 'productos/base.html' %}
{% load static %}

{% block title %}
  Agregar Producto - HarmonyX
{% endblock %}

{% block content %}
  <!-- SECTION LISTA DE PRODUTOS CRUD -->
  <section>
    <div class="bg-black text-center text-white px-5 py-12">
      <div>
        <div class="mx-auto max-w-2xl text-center">
          <div class="text-2xl font-semibold mb-4" id="idMensajes">
            {% if mensaje %}
              {% if 'Error' in mensaje %}
                <p class="text-light-red">{{ mensaje }}</p>
              {% else %}
                <p class="text-light-green">{{ mensaje }}</p>
              {% endif %}
            {% endif %}
          </div>

          <h2 class="text-3xl font-bold tracking-tight">Agregar Producto</h2>
        </div>
        <form action="{% url 'productosAdd' %}" method="POST" class="mx-auto max-w-2xl mt-4">
          {% csrf_token %}
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-6">
            <!-- INPUTS TO AGREGAR EL PRODUCTO -->
            <div>
              <label for="sku" class="block text-sm font-semibold leading-6">SKU</label>
              <div class="mt-2">
                <input type="text" name="sku" required autocomplete="off" class="w-full text-center text-black font-medium bg-white rounded border focus:ring-1 focus:ring-white focus:border-white focus:bg-transparent focus:ring-text-white text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
              </div>
            </div>
            <div>
              <label for="nombre_album" class="block text-sm font-semibold leading-6">NOMBRE ÁLBUM</label>
              <div class="mt-2">
                <input type="text" name="nombre_album" required autocomplete="off" class="w-full text-center text-black font-medium bg-white rounded border focus:ring-1 focus:ring-white focus:border-white focus:bg-transparent focus:ring-text-white text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
              </div>
            </div>
            <div>
              <label for="precio" class="block text-sm font-semibold leading-6">PRECIO</label>
              <div class="mt-2">
                <input type="text" name="precio" required autocomplete="off" class="w-full text-center text-black font-medium bg-white rounded border focus:ring-1 focus:ring-white focus:border-white focus:bg-transparent focus:ring-text-white text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
              </div>
            </div>
            <div>
              <label for="fecha_lanzamiento" class="block text-sm font-semibold leading-6">FECHA LANZAMIENTO</label>
              <div class="mt-2">
                <input type="date" name="fecha_lanzamiento" required autocomplete="off" class="w-full text-center text-black font-medium bg-white rounded border focus:ring-1 focus:ring-white focus:border-white focus:bg-transparent focus:ring-text-white text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
              </div>
            </div>
            <div>
              <label for="nombre_artista" class="block text-sm font-semibold leading-6">NOMBRE ARTISTA</label>
              <div class="mt-2">
                <select name="nombre_artista" class="w-full text-center text-black font-medium bg-white rounded border focus:ring-1 focus:ring-white focus:border-white focus:bg-transparent focus:ring-text-white text-base outline-none py-2 px-3 leading-8 transition-colors duration-200 ease-in-out cursor-pointer">
                  {% for artista in artistas %}
                    <option class="text-white text-base font-medium bg-black" value="{{ artista.id_artista }}">{{ artista.nombre_artista }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div>
              <label for="nombre_img" class="block text-sm font-semibold leading-6">NOMBRE IMAGEN</label>
              <div class="mt-2">
                <input type="text" name="nombre_img" required autocomplete="off" value="testimg" class="w-full text-center text-black font-medium bg-white rounded border focus:ring-1 focus:ring-white focus:border-white focus:bg-transparent focus:ring-text-white text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
              </div>
            </div>
            <div>
              <label for="tendencia" class="block text-sm font-semibold leading-6">TENDENCIA</label>
              <div class="mt-2">
                <select name="tendencia" class="w-full text-center text-black font-medium bg-white rounded border focus:ring-1 focus:ring-white focus:border-white focus:bg-transparent focus:ring-text-white text-base outline-none py-2 px-3 leading-8 transition-colors duration-200 ease-in-out cursor-pointer">
                  <option class="text-white text-base font-medium bg-black" value="Desactivado" selected>Desactivado</option>
                  <option class="text-white text-base font-medium bg-black" value="Activado">Activado</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mt-10">
            <button type="submit" class="text-black bg-green hover:btn-anim-scale border-0 py-2 px-6 rounded-lg text-base font-semibold" name="opcion">Agregar Producto</button>
          </div>
        </form>

        <div class="mt-5">
          <a type="button" href="{% url 'crud' %}" class="text-black text-base font-semibold bg-red hover:btn-anim-scale-bg-red flex-shrink-0 inline-flex border-0 py-2 px-6 focus:outline-none rounded-lg">Cancelar</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/preloadpage.js' %}"></script>
  <script src="{% static 'js/navBar.js' %}"></script>
  <script src="{% static 'js/previewProduct.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{% static 'js/modalAlert.js' %}"></script>
{% endblock %}
